%section{:class => "champion-info", :id => "info", "data-cid" => "#{@champion.id}"}
  %h1{:class => "champion-name"}
    = @champion.name
  %h2{:class => "champion-title"}
    = @champion.title
  %img(src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/#{@champion.key}.png")
  %section{:class => "champion-items"}
    %h3 Itens Recomendados
    %div{:class => "items-wrap", :id => "items-wrap"}
      %h4 Mapa: {{ gameMap }}
      %div{:class => "item-group", "v-for" => "group in groups"}
        %p {{ group.name }}
        %div{:class => "item-imgs"}
          %item-img{"v-for" => "item in group.items", ":item" => "item"}

      %div
        %button{"v-on:click" => "changeItems", :title => "Ver mais itens"} +
%section{:class => "champion-lore"}
  %h3 Bio
  %article= @champion.lore

