%section{:class => "champion-info"}
  %h1{:class => "page-title"}
    = @champion.name
  %h2{:class => "champion-title"}
    = @champion.title
  %img(src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/#{@champion.key}.png")
  %section{:class => "champion-items"}
    %h3 Itens Recomendados
    %div{:class => "items-wrap"}
      - rl = @champion.recommended_list(3)
      %h4= "Mapa: #{rl.game_map}"
      - rl.group_items.each do |k, v|
        %div{:class => "item-group"}
          %p
            - output = k.gsub(/_/, ' ')
            - output.gsub!('jungle', ' jungle')
            = output.capitalize
          %div{:class => "item-imgs"}
            - v.each do |id|
              %img(src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/item/#{id}.png")
%section{:class => "champion-lore"}
  %h3 Bio
  %article= @champion.lore

