%h1 Champs List

- @champs.each do |champion|
  %div{:class => "champion"}
    %span= champion.id
    %h2= champion.name
    %img(src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/#{champion.key}.png")
    %p= champion.title
    - champion.items_id.each do |id|
      %img(src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/item/#{id}.png")

